.App {
  text-align: center;
  background-color: rgba(7, 87, 82, 0.331);
  height: 100%;
}

.profile-pic {
  margin-top: 150px;
  width: 180px;
  height: 180px;
  border-radius: 100px;
  border: rgba(3, 107, 25, 0.329) 3px solid;
}

.name {
  font-size: 32px;
  color: cornsilk;
}
.profile-info {
  font-size: 18px;
  color: rgb(14, 13, 13);
}

.link {
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 35px;
}

.link:hover {
  margin: 10px;
  width: 45px;
  height: 45px;
  border-radius: 35px;
  border: white 1px solid;
}

.div-main {
  align-items: center;
}
.div-skill {
  margin: 10px;
  padding: 6px;
  width: 200px;
  height: fit-content;
  border-radius: 10px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  align-content: center;
  color: rgb(19, 20, 20);
  background-color: rgba(229, 207, 192, 0.598);
}
.div-skill:hover {
  padding: 10px;
  background-color: rgb(38, 231, 141);
}

.header {
  color: white;
  margin-top: 40px;
}

.progressBar-main {
  position: relative;
  height: 20px;
  width: 100%;
  background-color: aliceblue;
  border-radius: 10px;
  border: aliceblue 2px solid;
}

.filler {
  background: rgb(3, 156, 85);
  height: 100%;
  border-radius: inherit;
  transition: width 2s ease-in-out;
}
.project-main {
  margin: 10px;
  padding: 20px;
  width: 200px;
  height: fit-content;
  border-radius: 10px;
  display: inline-block;
  color: rgb(19, 20, 20);
  background-color: rgb(229, 207, 192);
}
.project-main:hover {
  padding: 24px;
  background-color: rgb(38, 231, 141);
}
.website-link {
  margin-top: 20px;
  padding: 10px;
  background-color: green;
  border-radius: 3px;
  color: aliceblue;
  text-decoration: none;
  border-radius: 10px;
  outline: none;
  border: transparent;
  display: inline-block;
}

.website-link:hover {
  font-size: 18px;
}
.project-image {
  margin-top: 40px;
  height: 200px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}
.white-text {
  color: aliceblue;
  position: fixed;
  right: 32px;
}
.white-text:hover {
  color: rgba(15, 114, 201, 0.913);
}
.footerarea {
  background-color: rgb(21, 54, 62);
  height: 50px;
  color: rgb(49, 182, 173);
}
.footertext {
  padding-top: 15px;
}
.footerimage {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin: 5px;
}
.followme {
  padding: 20px;
}
